
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

@media screen and (max-width:700px){
    .col-4{
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width:701px) and (max-width:1024px){
    .col-4{
        width: 47.333333%;
        margin-left: 1rem;
    }
}