$backgroundColor : #000000;
$backgroundItemColor : linear-gradient(180deg, #1D1D1D 0%, rgba(21, 21, 21, 0) 100%); 
$primaryColor : #ffff;
$navbarColor:#FAFAFA;
$backgroundCard:linear-gradient(0deg, #1D1D1D 0%, rgba(21, 21, 21, 0) 100%);

