
@import "../../../styles/settings/colors.settings.scss";
@import "../../../styles/objects/container.objects.scss";
@import "../../../styles/objects/grid.objects.scss";
@import "../../../styles/settings/fonts.settings.scss";
li{
  list-style: none;
}
li a{
  color:$navbarColor;
  text-decoration: none;
  font-size: 1.5rem;
}
.navbar{
  margin-top: 1rem;
}
.navbar-data {
  font-family: $font-family-base ;
}