
@import "../../../styles/settings/colors.settings.scss";
@import "../../../styles/objects/container.objects.scss";
@import "../../../styles/objects/grid.objects.scss";
@import "../../../styles/settings/fonts.settings.scss";
li{
  list-style: none;
}
li a{
  color:$navbarColor;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: $font-family-base ;

}
.logo{
  padding-left: 1rem;
}
.navbar{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.navbar-data {
  display: flex;
}
.navbar-data img{
  padding-right: 1rem;
}
.car{
  color: #fff;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 7%;
  border: 2px solid #ffff;
  border-radius: 1rem;
  text-align: center;
  font-family: $font-family-base ;
  cursor: pointer;
  font-size: 0.8rem;
}
.car span:last-child{
  padding-left: 0.5rem;
}
.modal{
  height: 30rem;
  position: absolute;
  width: 100%;
}
@media screen and (max-width:700px){
  .navbar-data{
    display: none;
  }
  .car{
    width: 24%;
  }
}
