@import "../../../styles/objects/container.objects.scss";
@import "../../../styles/objects/grid.objects.scss";
@import "../../../styles/settings/fonts.settings.scss";
@import "../../../styles/settings/colors.settings.scss";

h2{
    font-family:  $font-family-base;
    font-size: 83px;
}
.row{
    align-items: center;
}
h3{
    font-family:  $font-family-base;
    font-size: 83px;
    -webkit-text-stroke: 0.7px $primaryColor;
}
span{
    color: #ffff;
    font-size: 1rem;
    font-family:  $font-family-base-light;
}
img{
    animation: slidein 5s  infinite;
}  

@keyframes slidein {
    25% {
      -webkit-transform: translateY(-50px);
  }
  
  50%,
  100% {
      -webkit-transform: translateY(20);
  }
  
  75% {
      -webkit-transform: translateY(50px);
  }
  }
@media screen and (max-width:700px){
    .row{
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .col-6{
        width:100%;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 3rem;
    }
    img{
        width: 22rem;
    }
    .author{
        width:100%;
        margin-bottom: 1rem;
    }

}
